<div class="header fixed-top">
    <div class="left">
        <button id="openmenu">
            <box-icon name='menu' color="#4bb2dd" size="md"></box-icon>
        </button>
    </div>
    <div class="logo">
        <a href="/">
            <img src="/images/favicon.png" alt="https://spotitinc.in">
        </a>
    </div>
</div>