<div class="nav-bar hidden fixed-top" id="nav-bar">
    <div class="menu">
        <div class="left">
            <button id="closemenu">
                <box-icon name='x' color="#4bb2dd" size="md"></box-icon>
            </button>
        </div>
    </div>
    <div class="navlist">
        <ul style="list-style: none; margin-top: 18px;">
            <li>
                <a href="/">
                <button><box-icon name='home-alt-2' color="#04d28a"></box-icon>&nbsp;<span>Home</span></button>
                </a>
            </li>
        </ul>
        <hr>
        <ul style="list-style: none;">
            <li>
                <a href="/">
                <button><box-icon name='home-alt-2' color="#04d28a"></box-icon>&nbsp;<span>Home</span></button>
                </a>
            </li>
        </ul>
        <hr>
        <ul style="list-style: none;">
            <li>
                <a href="/">
                <button><box-icon name='home-alt-2' color="#04d28a"></box-icon>&nbsp;<span>Home</span></button>
                </a>
            </li>
        </ul>
        <hr>
        <ul style="list-style: none;">
            <li>
                <a href="/">
                <button><box-icon name='home-alt-2' color="#04d28a"></box-icon>&nbsp;<span>Home</span></button>
                </a>
            </li>
        </ul>
        <hr>
    </div>
</div>